<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.radit.kakao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logokakaoklat"
        android:label="Kakaoklat"
        android:roundIcon="@drawable/logokakaoklat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".ChatPage"></activity>
        <activity android:name=".DetailPesananPage" />
        <activity android:name=".CreditCardPaymentPage" />
        <activity android:name=".InformasiPage" />
        <activity android:name=".EdukasiPage"/>
        <activity android:name=".CheckoutPage" />
        <activity android:name=".MainActivityPetani" />
        <activity android:name=".JualKokoa" />
        <activity android:name=".ListProductPage" />
        <activity android:name=".produkPage" />
        <activity android:name=".LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".ForgetAndChangePasswordActivity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrasiPetani"/>
        <activity android:name=".MarketplaceMain" />
    </application>

</manifest>